name: Use Nix to build the Blog
on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: samueldr/lix-gha-installer-action@latest
      - run: nix --version
      - name: Build Blog
        run: nix build --print-build-logs
