name: Deploy built Blog
on:
  push:
    branches: [main]
    paths:
      # CI workflow
      - '.github/workflows/nix-deploy.yaml'
      # Website content
      - 'content/**'
      - 'static/**'
      - 'templates/**'
      - 'config.toml'
      # Nix files
      - 'flake.lock'
      - '*.nix'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: samueldr/lix-gha-installer-action@latest
      - run: nix --version
      - name: Build Blog
        run: nix build --print-build-logs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: ./result
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
