name: Use Nix to build the Blog
on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: samueldr/lix-gha-installer-action@latest
      - run: nix --version
      - name: Build Blog
        run: nix build --print-build-logs
